# Default IPS parameters for CPM Lab

/**:
  ros__parameters:

    ## Number of vehicle state the IPS will listen to
    number_vehicles: 20

    ## LED detection
    led_detection_min_brightness_threshold: 180   # [0, 255]
    led_detection_max_brightness_threshold: 255  # [0, 255]
    led_detection_min_contour_size: 10            # [pixel]
    led_detection_max_contour_size: 60           # [pixel]

    ## LED undistortion and projection
    projection_calibration_x: [ -5.387208e-01, -1.900953e-01, 6.940297e+00, 1.286167e+00, 4.609264e+00, -1.889294e-02, -2.261496e+00, -4.789213e+00, -1.075743e+01, -3.376528e-01, 9.709228e-01, 1.693368e+00, 6.875160e+00, 4.617587e+00, 7.905189e-01]
    projection_calibration_y: [ -6.660833e-01, 6.581158e+00, -8.008193e-01, 1.474094e+00, 5.226747e+00, 2.746359e+00, -3.067332e+00, -1.134380e+01, -5.068763e+00, -4.178790e+00, 2.379814e+00, 5.513316e+00, 5.148597e+00, 2.451820e+00, 1.763904e+00 ]
    projection_image_scale: 2048.0
    projection_camera_x: 1.4381984122326663
    projection_camera_y: 2.8632159987792964
    projection_camera_z: 2.64
    projection_led_z: 0.13

    ## Vehicle detection
    vehicle_detection_distance_front_to_rear: 0.14   # [m]
    vehicle_detection_distance_rear_to_rear: 0.07      # [m]
    vehicle_detection_angle_front_to_rear: 14.4775122       # [deg]

    ## Vehicle tracking
    vehicle_tracking_max_association_cost: 0.2  # [m]

    ## Vehicle LED ID parameters
    # 50Hz Camera. 5Hz Blink = 10 ticks period. ~50% duty cycle = 5 ticks enabled.
    # Entry 0 is dummy. Entries 1-20 match vehicle IDs.
    vehicle_led_period_ticks: [0, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]
    vehicle_led_enabled_ticks: [0, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]